.sidebar {
    flex: 1;
    border-right: 1px solid #c1c1c1;
    min-height: 100vh;
    background-color: white;

    .top {
        height: 50px;
        max-height: 50px;
        /* Limit top height to 50px */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        // border-bottom: 1px solid #c1c1c1;

        .logo {
            font-size: 20px;
            font-weight: 600;
            color: #555;
        }
    }

    hr {
        height: 1px;
        border: none;
        background-color: #c1c1c1;
        margin: 10px 0;
    }

    .center {
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            padding: 12px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: #f5f5f5;
                border-radius: 5px;
            }

            .icon {
                font-size: 24px;
                color: #ffea8f;
                margin-right: 10px;

                &:hover {
                    color: #fdcf09;
                }
            }

            span {
                font-size: 14px;
                font-weight: 500;
                color: #555;
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #ffea8f;
            cursor: pointer;
            margin: 4px;

            &:nth-child(1) {
                background-color: #f1f1f1;
            }

            &:nth-child(2) {
                background-color: #333333;
            }
        }
    }
}

// Responsive Breakpoints
@media screen and (max-width: 768px) {
    .sidebar {
        flex: 0;
        width: 70px;

        .top {
            justify-content: flex-start;

            .logo {
                font-size: 18px;
            }
        }

        .center {
            display: none;
        }
    }
}