.navbar {
    height: 50px;
    border-bottom: 0.25px solid #333;
    background-color: #fdcf09;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper {
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: right;


        .items {
            display: flex;
            align-items: center;
            color: #333;
            font-weight: 500;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;


                .icon {
                    padding-left: 5px;
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
    }
}