.navbar {
    height: 60px;
    border-bottom: 1px solid #c1c1c1;
    background-color: #ffea8f;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    /* Changed text color for better contrast */

    .wrapper {
        display: flex;
        align-items: center;
        padding: 0 20px;
        justify-content: flex-end;

        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                cursor: pointer;
                transition: color 0.3s ease-in-out;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: #555;
                    /* Changed hover color for better contrast */
                }

                .icon {
                    font-size: 20px;
                    margin-right: 5px;
                    /* Adjusted margin for better spacing */
                }

                span {
                    display: none;
                    /* Hide span text for a cleaner look */
                }
            }
        }
    }
}

// Responsive Breakpoints
@media screen and (max-width: 768px) {
    .navbar {
        height: 50px;
    }

    .wrapper {
        padding: 0 10px;

        .items {
            .item {
                margin-right: 10px;
                font-size: 12px;
                padding: 5px;

                .icon {
                    font-size: 18px;
                    margin-right: 3px;
                }
            }
        }
    }
}