.chart {
    flex: 7;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    padding: 15px;
    color: #555555;
    font-size: 14px;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .recharts-responsive-container {
        width: 100%;
        aspect-ratio: 4 / 1;
    }

    .recharts-cartesian-grid-horizontal,
    .recharts-cartesian-grid-vertical {
        stroke: #e5e5e5;
    }

    .recharts-tooltip {
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid #e5e5e5;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: #555555;
        font-size: 12px;
    }

    // Responsive Breakpoints
    @media screen and (max-width: 768px) {
        font-size: 12px;
        /* Decrease font size for smaller screens */

        .recharts-tooltip {
            font-size: 10px;
            /* Decrease tooltip font size for smaller screens */
        }
    }
}