.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    height: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: 500;
            /* Set font weight to regular */
            color: #333333;
            font-size: 14px;
        }

        .counter {
            font-size: 30px;
            font-weight: 500;
            color: #555555;
        }

        .icon {
            font-size: 60px;
            color: #aaa;
        }
    }
}

// Responsive Breakpoints
@media screen and (max-width: 768px) {
    .widget {
        padding: 12px;
        height: auto;

        .left,
        .right {
            .title {
                font-size: 12px;
            }

            .counter {
                font-size: 24px;
            }

            .icon {
                font-size: 40px;
            }
        }
    }
}