.Restable {
    height: 100%;
    padding: 20px;

    .MuiDataGrid-root {
        border: 1px solid #ddd;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .cellAction {
        display: flex;
        align-items: center;

        .delButton {
            color: crimson;
            border-radius: 5px;
            padding: 2px 10px;
            border: 1px solid crimson;
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {
        padding: 10px;

        .cellAction {
            .delButton {
                padding: 2px 5px;
            }
        }
    }
}